In [16]:
import pandas as ps

In [15]:
df = ps.read_csv("AB_NYC_2019.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [17]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [28]:
df1 = df.dropna()

In [34]:
df1.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [35]:
df1.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,3.882100e+04,3.882100e+04,38821.000000,38821.000000,38821.000000,38821.000000,38821.000000,38821.000000,38821.000000,38821.000000
mean,1.810081e+07,6.424582e+07,40.728129,-73.951149,142.332526,5.869220,29.290255,1.373229,5.166611,114.886299
std,1.069372e+07,7.589752e+07,0.054991,0.046693,196.994756,17.389026,48.182900,1.680328,26.302954,129.529950
min,2.539000e+03,2.438000e+03,40.506410,-74.244420,0.000000,1.000000,1.000000,0.010000,1.000000,0.000000
25%,8.721444e+06,7.029525e+06,40.688640,-73.982460,69.000000,1.000000,3.000000,0.190000,1.000000,0.000000
50%,1.887286e+07,2.837092e+07,40.721710,-73.954810,101.000000,2.000000,9.000000,0.720000,1.000000,55.000000
75%,2.756746e+07,1.018905e+08,40.762990,-73.935020,170.000000,4.000000,33.000000,2.020000,2.000000,229.000000
max,3.645581e+07,2.738417e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [59]:
max1=df1['price'].quantile(0.99)
max1

671.6000000000058

In [49]:
min1=df1['price'].quantile(0.01)
min1

30.0

In [46]:
df1[df1['price']>max1]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
85,19601,perfect for a family or small group,74303,Maggie,Brooklyn,Brooklyn Heights,40.69723,-73.99268,Entire home/apt,800,1,25,2016-08-04,0.24,1,7
496,174966,Luxury 2Bed/2.5Bath Central Park View,836168,Henry,Manhattan,Upper West Side,40.77350,-73.98697,Entire home/apt,2000,30,30,2018-05-05,0.33,11,0
653,248871,4 BEDROOM -2BATHRM WEST VILLAGE DUPLEX TOWNHOUSE,605463,West Village,Manhattan,West Village,40.73066,-74.00287,Entire home/apt,700,3,131,2019-06-24,1.40,4,296
662,250801,Heart & Soul of Greenwich Village,1314834,Rhona,Manhattan,Greenwich Village,40.73129,-73.99944,Entire home/apt,850,3,107,2019-05-23,1.15,1,249
691,256328,Luxury Chelsea Townhouse at the High Line,1347034,Janine,Manhattan,Chelsea,40.74599,-74.00253,Entire home/apt,760,2,7,2019-06-22,0.08,1,361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47041,35569459,Luxury Full Floor SoHo Loft | 3 Bed/2 Bath,163029687,Anna + Jason,Manhattan,SoHo,40.72434,-73.99945,Entire home/apt,900,3,1,2019-07-06,1.00,1,292
47063,35576863,JAVITS Beautiful Stay for your NYC Vacation *****,83819376,Ryan & Mary,Manhattan,Hell's Kitchen,40.75438,-73.99378,Entire home/apt,843,1,4,2019-07-04,4.00,1,358
47391,35713184,"Prospect Park Historic 1BR near 2,5,Q, B, S tr...",11503187,A,Brooklyn,Prospect-Lefferts Gardens,40.66085,-73.95586,Entire home/apt,1400,10,1,2019-07-02,1.00,1,17
47400,35715171,Host yr PARTY in style -Manhattan ROOF TOP for 25,71276635,Joe,Manhattan,Washington Heights,40.83571,-73.94179,Entire home/apt,750,1,1,2019-07-07,1.00,5,364
47950,36000376,★★ 4Br 2Ba Getaway in Chelsea ★★,268449136,Alexandra & William,Manhattan,Chelsea,40.74263,-74.00234,Entire home/apt,800,3,1,2019-07-01,1.00,1,345

In [50]:
df1[df1['price']<min1]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
957,375249,Enjoy Staten Island Hospitality,1887999,Rimma & Jim,Staten Island,Graniteville,40.62109,-74.16534,Private room,20,3,80,2019-05-26,0.92,1,226
2675,1428154,"Central, Peaceful Semi-Private Room",5912572,Tangier,Brooklyn,Flatbush,40.63899,-73.95177,Shared room,29,2,5,2014-10-20,0.07,1,321
3020,1767037,Small Cozy Room Wifi & AC near JFK,9284163,Antonio,Queens,Woodhaven,40.68968,-73.85219,Private room,29,2,386,2019-06-19,5.53,3,50
3918,2431607,"Bright, Airy Room Share for 2",4973668,Gloria,Brooklyn,Bedford-Stuyvesant,40.68642,-73.93440,Shared room,25,5,76,2019-06-06,1.22,3,258
4647,3258197,Large 1br Duplex in Heart of Upper East Side,16477306,Jeff,Manhattan,Upper East Side,40.76866,-73.95553,Entire home/apt,16,2,21,2019-06-30,1.69,1,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46894,35481807,Male Shared room 1 bed in the bedroom long term,179478172,Elizabeth,Brooklyn,Flatbush,40.65022,-73.96281,Shared room,25,4,1,2019-06-26,1.00,3,334
47130,35606165,Luggage storage only No Beds Available.,267872829,Sonya,Brooklyn,Fort Hamilton,40.61819,-74.03296,Shared room,20,1,1,2019-06-27,1.00,1,353
47218,35642891,Beautiful room in Bushwick,268138154,Julio,Brooklyn,Bushwick,40.69640,-73.91898,Private room,10,1,2,2019-06-18,2.00,1,0
48126,36101190,Flushing Hideout,30839692,Stavros,Queens,Flushing,40.75406,-73.80613,Shared room,25,1,1,2019-06-30,1.00,3,86
48486,36280646,"Cable and wfi, L/G included.",272872092,Chris,Queens,Forest Hills,40.73657,-73.85088,Entire home/apt,16,9,1,2019-07-07,1.00,1,322

In [71]:
df2 = df1[(df1.price>min1) & (df1.price<max1)]
df2.shape

(37923, 16)